
textarea.funding-yaml-container,
.funding-examples-container {
  font-family: monospace;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #ededed;
  padding: 4px 8px;
  background-image: linear-gradient(
    90deg,
    #eee 1px,
    rgb(250, 250, 250) 1px,
    rgb(250, 250, 250) 50%,
    #eee 50%,
    #eee calc(50% + 1px),
    rgb(250, 250, 250) calc(50% + 1px),
    rgb(250, 250, 250) 100%
  );
  background-size: 48.00px 48.00px;
}

textarea.funding-yaml-container {
  color: black;
}
.funding-examples-container {
  color: #666;
}

.funding-example {
  display: block;
  white-space: pre;
  border-top: 2px solid white;
}
.funding-example span {
  background: rgba(250, 250, 250, 0.7);
}
