.funding-settings-form {}
.funding-settings-form tr.enabled {

}
.funding-settings-form tr.disabled {
  color: #888;
  text-decoration: line-through;
}
.funding-settings-form tr.disabled td strong {
  font-weight: normal;
}
