{#
/**
 * @file
 * Default theme implementation to display a funding example.
 *
 * Available variables:
 * - examples: Multiple funding_example items.
 *
 * @ingroup themeable
 */
#}
{% set classes = ['funding-examples-all-container'] %}
<div {{ attributes.addClass(classes) }}>
  {{ examples }}
</div>
