{#
/**
 * @file
 * Default theme implementation to display a funding example.
 *
 * Available variables:
 * - provider: Plugin ID for the FundingProvider plugin.
 * - content: Example yaml content.
 * - index: Number that represents this specific example for the provider.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'funding-example',
    'funding-example--' ~ provider,
    'funding-example--' ~ provider ~ '--' ~ index,
  ]
%}
<span {{ attributes.addClass(classes) }}><span>{{ content }}</span></span>
